[nevermore]
# example - `bt_address: 43:43:A2:12:1F:AC`
bt_address: 28:CD:C1:03:AF:E9
# LED members are optional and generally behaves like the WS2812 klipper module
# (e.g. supports heterogenous pixel chains)
led_colour_order: GBR
led_chain_count: 16

# All fan policy settings are optional. Values given here are also the defaults.

# seconds, how long to keep filtering after the policy would otherwise stop
fan_policy_cooldown: 900
# voc index, 0 to disable, filter if any sensor meets this threshold
fan_policy_voc_passive_max: 125
# voc index, 0 to disable, filter if the intake exceeds exhaust by at least this much
fan_policy_voc_improve_min: 5

[temperature_sensor nvm0_intake]
sensor_type: NevermoreSensor
sensor_kind: intake
# If you do not wish to edit your mainsail installation to add `NevermoreSensor`,
# to its list of known sensors, you can use an already recognised classname (e.g. `bme280`)
class_name_override: bme280

# If you wish the VOC index levels plotted, this can be hacked in by pretending the
# VOC index is a temperature by using `plot_voc: true`
[temperature_sensor nvm0_intake_VOC]
sensor_type: NevermoreSensor
sensor_kind: intake
plot_voc: true

[temperature_sensor nvm1_exhaust]
sensor_type: NevermoreSensor
sensor_kind: exhaust

# led-effects are supported
[led_effect panel_idle]
autostart:              true
frame_rate:             24
leds:
    nevermore
layers:
    comet  1 0.5 add (0.0, 0.0, 0.0),(1.0, 0.0, 0.0),(1.0, 1.0, 0.0),(1.0, 1.0, 1.0)
    breathing  2 1 top (0,.25,0)